In [43]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
import seaborn as sns
import joblib

In [3]:
train = pd.read_csv("train_ctrUa4K.csv")
test = pd.read_csv("test_lAUu6dG.csv")

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [6]:
train['Loan_ID'].nunique

<bound method IndexOpsMixin.nunique of 0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object>

In [7]:
test['Loan_ID'].nunique

<bound method IndexOpsMixin.nunique of 0      LP001015
1      LP001022
2      LP001031
3      LP001035
4      LP001051
         ...
362    LP002971
363    LP002975
364    LP002980
365    LP002986
366    LP002989
Name: Loan_ID, Length: 367, dtype: object>

In [8]:
train.head().T

                          0         1         2             3         4
Loan_ID            LP001002  LP001003  LP001005      LP001006  LP001008
Gender                 Male      Male      Male          Male      Male
Married                  No       Yes       Yes           Yes        No
Dependents                0         1         0             0         0
Education          Graduate  Graduate  Graduate  Not Graduate  Graduate
Self_Employed            No        No       Yes            No        No
ApplicantIncome        5849      4583      3000          2583      6000
CoapplicantIncome         0      1508         0          2358         0
LoanAmount              NaN       128        66           120       141
Loan_Amount_Term        360       360       360           360       360
Credit_History            1         1         1             1         1
Property_Area         Urban     Rural     Urban         Urban     Urban
Loan_Status               Y         N         Y             Y         Y

In [9]:
test.head().T

                          0         1         2         3             4
Loan_ID            LP001015  LP001022  LP001031  LP001035      LP001051
Gender                 Male      Male      Male      Male          Male
Married                 Yes       Yes       Yes       Yes            No
Dependents                0         1         2         2             0
Education          Graduate  Graduate  Graduate  Graduate  Not Graduate
Self_Employed            No        No        No        No            No
ApplicantIncome        5720      3076      5000      2340          3276
CoapplicantIncome         0      1500      1800      2546             0
LoanAmount              110       126       208       100            78
Loan_Amount_Term        360       360       360       360           360
Credit_History            1         1         1       NaN             1
Property_Area         Urban     Urban     Urban     Urban         Urban

In [10]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
train['Gender'].fillna(train['Gender'].mode()[0], inplace=True)

train['Married'].fillna(train['Married'].mode()[0], inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0], inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0], inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0], inplace=True)

In [12]:
train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].median(), inplace=True)

In [14]:

train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [15]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [16]:
test['Gender'].fillna(test['Gender'].mode()[0], inplace=True)
test['Dependents'].fillna(test['Dependents'].mode()[0], inplace=True)
test['Self_Employed'].fillna(test['Self_Employed'].mode()[0], inplace=True)
test['Credit_History'].fillna(test['Credit_History'].mode()[0], inplace=True)
test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0], inplace=True)
test['LoanAmount'].fillna(test['LoanAmount'].median(), inplace=True)

In [17]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [18]:
cat_cols_train = [col for col in train.columns if train[col].dtype == 'object']

cat_cols_test = [col for col in test.columns if test[col].dtype == 'object']

num_cols_train = [col for col in train.columns if train[col].dtype != 'object']

num_cols_test = [col for col in test.columns if test[col].dtype != 'object']

In [19]:
cat_cols_train

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [20]:
cat_cols_test

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [21]:
num_cols_train

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [22]:
num_cols_test

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [23]:
cat_cols_train.remove('Loan_ID')
cat_cols_train.remove('Loan_Status')
cat_cols_test.remove('Loan_ID')

In [24]:
cat_cols_train

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [25]:
cat_cols_test

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [26]:
train['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [27]:
train['Loan_Status'] = train['Loan_Status'].map({'Y': 1, 'N': 0})

In [28]:
train['Loan_Status'].unique()

array([1, 0])

In [29]:
def rate_encoder(df, col):
    rate = train.groupby(col)['Loan_Status'].sum()/train.groupby(col)['Loan_Status'].count()
    rate_dict = dict(rate)
    df[col] = df[col].replace(rate_dict)

In [30]:
for col in cat_cols_train:
    rate_encoder(train, col)

In [31]:
for col in cat_cols_test:
    rate_encoder(test, col)

In [32]:
train[cat_cols_train]

       Gender   Married  Dependents  Education  Self_Employed  Property_Area
0    0.691235  0.629108    0.686111   0.708333       0.687970       0.658416
1    0.691235  0.718204    0.647059   0.708333       0.687970       0.614525
2    0.691235  0.718204    0.686111   0.708333       0.682927       0.658416
3    0.691235  0.718204    0.686111   0.611940       0.687970       0.658416
4    0.691235  0.629108    0.686111   0.708333       0.687970       0.658416
..        ...       ...         ...        ...            ...            ...
609  0.669643  0.629108    0.686111   0.708333       0.687970       0.614525
610  0.691235  0.718204    0.647059   0.708333       0.687970       0.614525
611  0.691235  0.718204    0.647059   0.708333       0.687970       0.658416
612  0.691235  0.718204    0.752475   0.708333       0.687970       0.658416
613  0.669643  0.629108    0.686111   0.708333       0.682927       0.768240

[614 rows x 6 columns]

In [33]:
train[cat_cols_train + ['Loan_Status']].corr()

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
Gender,1.000000,0.364569,0.066963,-0.045364,0.000525,-0.112640,0.017987
Married,0.364569,1.000000,0.092012,-0.012304,-0.004489,0.006817,0.091478
Dependents,0.066963,0.092012,1.000000,-0.003327,0.012942,-0.019660,0.071642
Education,-0.045364,-0.012304,-0.003327,1.000000,-0.010383,0.055580,0.085884
Self_Employed,0.000525,-0.004489,0.012942,-0.010383,1.000000,-0.000366,0.003700
Property_Area,-0.112640,0.006817,-0.019660,0.055580,-0.000366,1.000000,0.141523
Loan_Status,0.017987,0.091478,0.071642,0.085884,0.003700,0.141523,1.000000

In [34]:
train[num_cols_train + ['Loan_Status']].corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
ApplicantIncome,1.000000,-0.116605,0.565181,-0.046531,-0.018615,-0.004710
CoapplicantIncome,-0.116605,1.000000,0.189218,-0.059383,0.011134,-0.059187
LoanAmount,0.565181,0.189218,1.000000,0.036960,-0.000607,-0.033214
Loan_Amount_Term,-0.046531,-0.059383,0.036960,1.000000,-0.004705,-0.022549
Credit_History,-0.018615,0.011134,-0.000607,-0.004705,1.000000,0.540556
Loan_Status,-0.004710,-0.059187,-0.033214,-0.022549,0.540556,1.000000

In [35]:
features =  num_cols_train + cat_cols_train

In [36]:
features

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [37]:
X = train[features]
y = train.Loan_Status
X_test = test[features]

In [38]:
split_test_size=0.3

Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, y, test_size=split_test_size, random_state=0)

clf = CatBoostClassifier(iterations=3000, depth=3, eval_metric='Accuracy', random_seed=10, learning_rate=0.1)

clf.fit(Xtrain, Ytrain, use_best_model=True, eval_set=(Xtest,Ytest), verbose=1000)

0:	learn: 0.8018648	test: 0.8270270	best: 0.8270270 (0)	total: 56.2ms	remaining: 2m 48s
1000:	learn: 1.0000000	test: 0.7945946	best: 0.8324324 (95)	total: 692ms	remaining: 1.38s
2000:	learn: 1.0000000	test: 0.7945946	best: 0.8324324 (95)	total: 1.31s	remaining: 656ms
2999:	learn: 1.0000000	test: 0.7891892	best: 0.8324324 (95)	total: 1.9s	remaining: 0us

bestTest = 0.8324324324
bestIteration = 95

Shrink model to first 96 iterations.

In [39]:
model = CatBoostClassifier(iterations=96, depth=3, eval_metric='Accuracy', random_seed=10, learning_rate=0.1)

In [40]:
model.fit(X,y)

0:	learn: 0.8094463	total: 1.22ms	remaining: 116ms
1:	learn: 0.8094463	total: 2.25ms	remaining: 106ms
2:	learn: 0.8094463	total: 3.2ms	remaining: 99.3ms
3:	learn: 0.8094463	total: 3.82ms	remaining: 88ms
4:	learn: 0.8094463	total: 4.71ms	remaining: 85.7ms
5:	learn: 0.8094463	total: 5.47ms	remaining: 82.1ms
6:	learn: 0.8094463	total: 6.38ms	remaining: 81.1ms
7:	learn: 0.8094463	total: 7.3ms	remaining: 80.3ms
8:	learn: 0.8094463	total: 8.7ms	remaining: 84.1ms
9:	learn: 0.8094463	total: 9.44ms	remaining: 81.2ms
10:	learn: 0.8094463	total: 10.1ms	remaining: 78.2ms
11:	learn: 0.8094463	total: 10.6ms	remaining: 74.2ms
12:	learn: 0.8094463	total: 11.1ms	remaining: 71.2ms
13:	learn: 0.8094463	total: 11.8ms	remaining: 69.1ms
14:	learn: 0.8094463	total: 12.4ms	remaining: 67.1ms
15:	learn: 0.8094463	total: 13.5ms	remaining: 67.4ms
16:	learn: 0.8094463	total: 14.2ms	remaining: 66.2ms
17:	learn: 0.8094463	total: 14.8ms	remaining: 64ms
18:	learn: 0.8094463	total: 15.3ms	remaining: 62ms
19:	learn: 0.8094463	total: 15.7ms	remaining: 59.7ms
20:	learn: 0.8094463	total: 16.1ms	remaining: 57.5ms
21:	learn: 0.8094463	total: 16.6ms	remaining: 55.7ms
22:	learn: 0.8094463	total: 17.3ms	remaining: 54.9ms
23:	learn: 0.8094463	total: 18ms	remaining: 53.9ms
24:	learn: 0.8094463	total: 18.6ms	remaining: 52.8ms
25:	learn: 0.8094463	total: 19.1ms	remaining: 51.3ms
26:	learn: 0.8094463	total: 19.7ms	remaining: 50.3ms
27:	learn: 0.8094463	total: 20.1ms	remaining: 48.8ms
28:	learn: 0.8094463	total: 20.5ms	remaining: 47.4ms
29:	learn: 0.8094463	total: 20.9ms	remaining: 46.1ms
30:	learn: 0.8094463	total: 21.4ms	remaining: 45ms
31:	learn: 0.8094463	total: 21.8ms	remaining: 43.7ms
32:	learn: 0.8094463	total: 22.3ms	remaining: 42.6ms
33:	learn: 0.8094463	total: 22.7ms	remaining: 41.5ms
34:	learn: 0.8094463	total: 23.4ms	remaining: 40.7ms
35:	learn: 0.8094463	total: 23.9ms	remaining: 39.8ms
36:	learn: 0.8094463	total: 24.6ms	remaining: 39.2ms
37:	learn: 0.8094463	total: 25.4ms	remaining: 38.7ms
38:	learn: 0.8094463	total: 26ms	remaining: 38.1ms
39:	learn: 0.8094463	total: 26.9ms	remaining: 37.6ms
40:	learn: 0.8094463	total: 27.4ms	remaining: 36.8ms
41:	learn: 0.8094463	total: 27.8ms	remaining: 35.7ms
42:	learn: 0.8094463	total: 28.2ms	remaining: 34.8ms
43:	learn: 0.8110749	total: 28.6ms	remaining: 33.8ms
44:	learn: 0.8110749	total: 29.2ms	remaining: 33.1ms
45:	learn: 0.8110749	total: 29.7ms	remaining: 32.3ms
46:	learn: 0.8110749	total: 30.4ms	remaining: 31.7ms
47:	learn: 0.8110749	total: 31.3ms	remaining: 31.3ms
48:	learn: 0.8110749	total: 31.9ms	remaining: 30.6ms
49:	learn: 0.8110749	total: 32.5ms	remaining: 29.9ms
50:	learn: 0.8110749	total: 33ms	remaining: 29.1ms
51:	learn: 0.8110749	total: 33.4ms	remaining: 28.2ms
52:	learn: 0.8110749	total: 33.7ms	remaining: 27.4ms
53:	learn: 0.8110749	total: 34.1ms	remaining: 26.5ms
54:	learn: 0.8110749	total: 34.4ms	remaining: 25.7ms
55:	learn: 0.8110749	total: 34.8ms	remaining: 24.9ms
56:	learn: 0.8110749	total: 35.2ms	remaining: 24.1ms
57:	learn: 0.8110749	total: 35.5ms	remaining: 23.3ms
58:	learn: 0.8110749	total: 35.9ms	remaining: 22.5ms
59:	learn: 0.8110749	total: 36.3ms	remaining: 21.8ms
60:	learn: 0.8110749	total: 36.6ms	remaining: 21ms
61:	learn: 0.8110749	total: 37ms	remaining: 20.3ms
62:	learn: 0.8110749	total: 37.4ms	remaining: 19.6ms
63:	learn: 0.8110749	total: 37.8ms	remaining: 18.9ms
64:	learn: 0.8110749	total: 38.1ms	remaining: 18.2ms
65:	learn: 0.8110749	total: 38.5ms	remaining: 17.5ms
66:	learn: 0.8110749	total: 38.8ms	remaining: 16.8ms
67:	learn: 0.8110749	total: 39.2ms	remaining: 16.1ms
68:	learn: 0.8110749	total: 39.7ms	remaining: 15.5ms
69:	learn: 0.8110749	total: 40.1ms	remaining: 14.9ms
70:	learn: 0.8110749	total: 40.5ms	remaining: 14.3ms
71:	learn: 0.8110749	total: 40.9ms	remaining: 13.6ms
72:	learn: 0.8110749	total: 41.2ms	remaining: 13ms
73:	learn: 0.8127036	total: 41.6ms	remaining: 12.4ms
74:	learn: 0.8127036	total: 42ms	remaining: 11.8ms
75:	learn: 0.8127036	total: 42.3ms	remaining: 11.1ms
76:	learn: 0.8127036	total: 42.7ms	remaining: 10.5ms
77:	learn: 0.8127036	total: 43.4ms	remaining: 10ms
78:	learn: 0.8127036	total: 43.9ms	remaining: 9.44ms
79:	learn: 0.8127036	total: 44.8ms	remaining: 8.95ms
80:	learn: 0.8127036	total: 45.5ms	remaining: 8.42ms
81:	learn: 0.8127036	total: 46.1ms	remaining: 7.86ms
82:	learn: 0.8143322	total: 46.5ms	remaining: 7.28ms
83:	learn: 0.8143322	total: 47.2ms	remaining: 6.74ms
84:	learn: 0.8143322	total: 47.8ms	remaining: 6.19ms
85:	learn: 0.8143322	total: 48.2ms	remaining: 5.61ms
86:	learn: 0.8143322	total: 48.6ms	remaining: 5.03ms
87:	learn: 0.8143322	total: 49ms	remaining: 4.45ms
88:	learn: 0.8143322	total: 49.4ms	remaining: 3.88ms
89:	learn: 0.8143322	total: 49.7ms	remaining: 3.31ms
90:	learn: 0.8143322	total: 50.1ms	remaining: 2.75ms
91:	learn: 0.8143322	total: 50.4ms	remaining: 2.19ms
92:	learn: 0.8143322	total: 51ms	remaining: 1.65ms
93:	learn: 0.8143322	total: 51.5ms	remaining: 1.1ms
94:	learn: 0.8143322	total: 52ms	remaining: 547us
95:	learn: 0.8143322	total: 52.4ms	remaining: 0us

In [45]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [46]:
model = joblib.load('model.pkl')

In [47]:
model_columns = list(X.columns)

In [48]:
joblib.dump(model_columns, 'model_columns.pkl')

['model_columns.pkl']