In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import warnings

In [3]:
train = pd.read_csv("train_ctrUa4K.csv")
test = pd.read_csv("test_lAUu6dG.csv")

In [4]:
train_original = train.copy()
test_original = test.copy()

In [5]:
train.head().T

                          0         1         2             3         4
Loan_ID            LP001002  LP001003  LP001005      LP001006  LP001008
Gender                 Male      Male      Male          Male      Male
Married                  No       Yes       Yes           Yes        No
Dependents                0         1         0             0         0
Education          Graduate  Graduate  Graduate  Not Graduate  Graduate
Self_Employed            No        No       Yes            No        No
ApplicantIncome        5849      4583      3000          2583      6000
CoapplicantIncome         0      1508         0          2358         0
LoanAmount              NaN       128        66           120       141
Loan_Amount_Term        360       360       360           360       360
Credit_History            1         1         1             1         1
Property_Area         Urban     Rural     Urban         Urban     Urban
Loan_Status               Y         N         Y             Y         Y