In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
import joblib

# import numpy as np
# import matplotlib.pyplot as plt
# import warnings
# import seaborn as sns
# from sklearn.ensemble import GradientBoostingClassifier
# from sklearn.metrics import accuracy_score

In [2]:
train = pd.read_csv("train_ctrUa4K.csv")
test = pd.read_csv("test_lAUu6dG.csv")

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [5]:
train['Loan_ID'].nunique

<bound method IndexOpsMixin.nunique of 0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object>

In [6]:
test['Loan_ID'].nunique

<bound method IndexOpsMixin.nunique of 0      LP001015
1      LP001022
2      LP001031
3      LP001035
4      LP001051
         ...
362    LP002971
363    LP002975
364    LP002980
365    LP002986
366    LP002989
Name: Loan_ID, Length: 367, dtype: object>

In [7]:
train.head().T

                          0         1         2             3         4
Loan_ID            LP001002  LP001003  LP001005      LP001006  LP001008
Gender                 Male      Male      Male          Male      Male
Married                  No       Yes       Yes           Yes        No
Dependents                0         1         0             0         0
Education          Graduate  Graduate  Graduate  Not Graduate  Graduate
Self_Employed            No        No       Yes            No        No
ApplicantIncome        5849      4583      3000          2583      6000
CoapplicantIncome       0.0    1508.0       0.0        2358.0       0.0
LoanAmount              NaN     128.0      66.0         120.0     141.0
Loan_Amount_Term      360.0     360.0     360.0         360.0     360.0
Credit_History          1.0       1.0       1.0           1.0       1.0
Property_Area         Urban     Rural     Urban         Urban     Urban
Loan_Status               Y         N         Y             Y         Y

In [8]:
test.head().T

                          0         1         2         3             4
Loan_ID            LP001015  LP001022  LP001031  LP001035      LP001051
Gender                 Male      Male      Male      Male          Male
Married                 Yes       Yes       Yes       Yes            No
Dependents                0         1         2         2             0
Education          Graduate  Graduate  Graduate  Graduate  Not Graduate
Self_Employed            No        No        No        No            No
ApplicantIncome        5720      3076      5000      2340          3276
CoapplicantIncome         0      1500      1800      2546             0
LoanAmount            110.0     126.0     208.0     100.0          78.0
Loan_Amount_Term      360.0     360.0     360.0     360.0         360.0
Credit_History          1.0       1.0       1.0       NaN           1.0
Property_Area         Urban     Urban     Urban     Urban         Urban

In [9]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
train['Gender'].fillna(train['Gender'].mode()[0], inplace=True)

train['Married'].fillna(train['Married'].mode()[0], inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0], inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0], inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0], inplace=True)

In [11]:
train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].median(), inplace=True)

In [13]:

train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [14]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [15]:
test['Gender'].fillna(test['Gender'].mode()[0], inplace=True)
test['Dependents'].fillna(test['Dependents'].mode()[0], inplace=True)
test['Self_Employed'].fillna(test['Self_Employed'].mode()[0], inplace=True)
test['Credit_History'].fillna(test['Credit_History'].mode()[0], inplace=True)
test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0], inplace=True)
test['LoanAmount'].fillna(test['LoanAmount'].median(), inplace=True)

In [16]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [17]:
cat_cols_train = [col for col in train.columns if train[col].dtype == 'object']

cat_cols_test = [col for col in test.columns if test[col].dtype == 'object']

num_cols_train = [col for col in train.columns if train[col].dtype != 'object']

num_cols_test = [col for col in test.columns if test[col].dtype != 'object']

In [18]:
cat_cols_train

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [19]:
cat_cols_test

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [20]:
num_cols_train

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [21]:
num_cols_test

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [22]:
cat_cols_train.remove('Loan_ID')
cat_cols_train.remove('Loan_Status')
cat_cols_test.remove('Loan_ID')

In [23]:
cat_cols_train

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [24]:
cat_cols_test

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [25]:
train['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [26]:
train['Loan_Status'] = train['Loan_Status'].map({'Y': 1, 'N': 0})

In [27]:
train['Loan_Status'].unique()

array([1, 0])

In [28]:
def rate_encoder(df, col):
    rate = train.groupby(col)['Loan_Status'].sum()/train.groupby(col)['Loan_Status'].count()
    rate_dict = dict(rate)
    df[col] = df[col].replace(rate_dict)

In [29]:
for col in cat_cols_train:
    rate_encoder(train, col)

In [30]:
for col in cat_cols_test:
    rate_encoder(test, col)

In [31]:
train[cat_cols_train]

       Gender   Married  Dependents  Education  Self_Employed  Property_Area
0    0.691235  0.629108    0.686111   0.708333       0.687970       0.658416
1    0.691235  0.718204    0.647059   0.708333       0.687970       0.614525
2    0.691235  0.718204    0.686111   0.708333       0.682927       0.658416
3    0.691235  0.718204    0.686111   0.611940       0.687970       0.658416
4    0.691235  0.629108    0.686111   0.708333       0.687970       0.658416
..        ...       ...         ...        ...            ...            ...
609  0.669643  0.629108    0.686111   0.708333       0.687970       0.614525
610  0.691235  0.718204    0.647059   0.708333       0.687970       0.614525
611  0.691235  0.718204    0.647059   0.708333       0.687970       0.658416
612  0.691235  0.718204    0.752475   0.708333       0.687970       0.658416
613  0.669643  0.629108    0.686111   0.708333       0.682927       0.768240

[614 rows x 6 columns]

In [32]:
train[cat_cols_train + ['Loan_Status']].corr()

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
Gender,1.000000,0.364569,0.066963,-0.045364,0.000525,-0.112640,0.017987
Married,0.364569,1.000000,0.092012,-0.012304,-0.004489,0.006817,0.091478
Dependents,0.066963,0.092012,1.000000,-0.003327,0.012942,-0.019660,0.071642
Education,-0.045364,-0.012304,-0.003327,1.000000,-0.010383,0.055580,0.085884
Self_Employed,0.000525,-0.004489,0.012942,-0.010383,1.000000,-0.000366,0.003700
Property_Area,-0.112640,0.006817,-0.019660,0.055580,-0.000366,1.000000,0.141523
Loan_Status,0.017987,0.091478,0.071642,0.085884,0.003700,0.141523,1.000000

In [33]:
train[num_cols_train + ['Loan_Status']].corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
ApplicantIncome,1.000000,-0.116605,0.565181,-0.046531,-0.018615,-0.004710
CoapplicantIncome,-0.116605,1.000000,0.189218,-0.059383,0.011134,-0.059187
LoanAmount,0.565181,0.189218,1.000000,0.036960,-0.000607,-0.033214
Loan_Amount_Term,-0.046531,-0.059383,0.036960,1.000000,-0.004705,-0.022549
Credit_History,-0.018615,0.011134,-0.000607,-0.004705,1.000000,0.540556
Loan_Status,-0.004710,-0.059187,-0.033214,-0.022549,0.540556,1.000000

In [34]:
features =  num_cols_train + cat_cols_train

In [35]:
features

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [36]:
X = train[features]
y = train.Loan_Status
X_test = test[features]

In [37]:
split_test_size=0.3

Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, y, test_size=split_test_size, random_state=0)

clf = CatBoostClassifier(iterations=3000, depth=3, eval_metric='Accuracy', random_seed=10, learning_rate=0.1)

clf.fit(Xtrain, Ytrain, use_best_model=True, eval_set=(Xtest,Ytest), verbose=1000)

0:	learn: 0.8018648	test: 0.8270270	best: 0.8270270 (0)	total: 58.8ms	remaining: 2m 56s
1000:	learn: 1.0000000	test: 0.7945946	best: 0.8324324 (95)	total: 519ms	remaining: 1.04s
2000:	learn: 1.0000000	test: 0.7945946	best: 0.8324324 (95)	total: 993ms	remaining: 496ms
2999:	learn: 1.0000000	test: 0.7891892	best: 0.8324324 (95)	total: 1.45s	remaining: 0us

bestTest = 0.8324324324
bestIteration = 95

Shrink model to first 96 iterations.

In [38]:
model = CatBoostClassifier(iterations=96, depth=3, eval_metric='Accuracy', random_seed=10, learning_rate=0.1)

In [39]:
model.fit(X,y)

0:	learn: 0.8094463	total: 391us	remaining: 37.2ms
1:	learn: 0.8094463	total: 966us	remaining: 45.4ms
2:	learn: 0.8094463	total: 1.37ms	remaining: 42.4ms
3:	learn: 0.8094463	total: 1.69ms	remaining: 38.9ms
4:	learn: 0.8094463	total: 2.06ms	remaining: 37.4ms
5:	learn: 0.8094463	total: 2.44ms	remaining: 36.6ms
6:	learn: 0.8094463	total: 2.83ms	remaining: 36ms
7:	learn: 0.8094463	total: 3.23ms	remaining: 35.6ms
8:	learn: 0.8094463	total: 3.65ms	remaining: 35.3ms
9:	learn: 0.8094463	total: 4ms	remaining: 34.4ms
10:	learn: 0.8094463	total: 4.32ms	remaining: 33.4ms
11:	learn: 0.8094463	total: 4.68ms	remaining: 32.8ms
12:	learn: 0.8094463	total: 5.02ms	remaining: 32ms
13:	learn: 0.8094463	total: 5.36ms	remaining: 31.4ms
14:	learn: 0.8094463	total: 5.69ms	remaining: 30.7ms
15:	learn: 0.8094463	total: 6.04ms	remaining: 30.2ms
16:	learn: 0.8094463	total: 6.36ms	remaining: 29.5ms
17:	learn: 0.8094463	total: 6.68ms	remaining: 29ms
18:	learn: 0.8094463	total: 6.99ms	remaining: 28.3ms
19:	learn: 0.8094463	total: 7.36ms	remaining: 28ms
20:	learn: 0.8094463	total: 7.69ms	remaining: 27.5ms
21:	learn: 0.8094463	total: 8.01ms	remaining: 27ms
22:	learn: 0.8094463	total: 8.4ms	remaining: 26.7ms
23:	learn: 0.8094463	total: 8.74ms	remaining: 26.2ms
24:	learn: 0.8094463	total: 9.06ms	remaining: 25.7ms
25:	learn: 0.8094463	total: 9.4ms	remaining: 25.3ms
26:	learn: 0.8094463	total: 9.74ms	remaining: 24.9ms
27:	learn: 0.8094463	total: 10.1ms	remaining: 24.4ms
28:	learn: 0.8094463	total: 10.4ms	remaining: 24ms
29:	learn: 0.8094463	total: 10.8ms	remaining: 23.7ms
30:	learn: 0.8094463	total: 11.1ms	remaining: 23.3ms
31:	learn: 0.8094463	total: 11.4ms	remaining: 22.8ms
32:	learn: 0.8094463	total: 11.7ms	remaining: 22.4ms
33:	learn: 0.8094463	total: 12.1ms	remaining: 22ms
34:	learn: 0.8094463	total: 12.4ms	remaining: 21.6ms
35:	learn: 0.8094463	total: 12.7ms	remaining: 21.2ms
36:	learn: 0.8094463	total: 13.1ms	remaining: 20.9ms
37:	learn: 0.8094463	total: 13.4ms	remaining: 20.5ms
38:	learn: 0.8094463	total: 13.7ms	remaining: 20.1ms
39:	learn: 0.8094463	total: 14.1ms	remaining: 19.7ms
40:	learn: 0.8094463	total: 14.4ms	remaining: 19.3ms
41:	learn: 0.8094463	total: 14.7ms	remaining: 18.9ms
42:	learn: 0.8094463	total: 15ms	remaining: 18.5ms
43:	learn: 0.8110749	total: 15.3ms	remaining: 18.1ms
44:	learn: 0.8110749	total: 15.7ms	remaining: 17.8ms
45:	learn: 0.8110749	total: 16ms	remaining: 17.4ms
46:	learn: 0.8110749	total: 16.4ms	remaining: 17ms
47:	learn: 0.8110749	total: 16.7ms	remaining: 16.7ms
48:	learn: 0.8110749	total: 17ms	remaining: 16.3ms
49:	learn: 0.8110749	total: 17.3ms	remaining: 15.9ms
50:	learn: 0.8110749	total: 17.7ms	remaining: 15.6ms
51:	learn: 0.8110749	total: 18ms	remaining: 15.2ms
52:	learn: 0.8110749	total: 18.4ms	remaining: 14.9ms
53:	learn: 0.8110749	total: 18.7ms	remaining: 14.5ms
54:	learn: 0.8110749	total: 19ms	remaining: 14.2ms
55:	learn: 0.8110749	total: 19.3ms	remaining: 13.8ms
56:	learn: 0.8110749	total: 19.7ms	remaining: 13.5ms
57:	learn: 0.8110749	total: 20ms	remaining: 13.1ms
58:	learn: 0.8110749	total: 20.3ms	remaining: 12.7ms
59:	learn: 0.8110749	total: 20.7ms	remaining: 12.4ms
60:	learn: 0.8110749	total: 21ms	remaining: 12ms
61:	learn: 0.8110749	total: 21.3ms	remaining: 11.7ms
62:	learn: 0.8110749	total: 21.6ms	remaining: 11.3ms
63:	learn: 0.8110749	total: 21.9ms	remaining: 11ms
64:	learn: 0.8110749	total: 22.3ms	remaining: 10.6ms
65:	learn: 0.8110749	total: 22.6ms	remaining: 10.3ms
66:	learn: 0.8110749	total: 22.9ms	remaining: 9.92ms
67:	learn: 0.8110749	total: 23.3ms	remaining: 9.6ms
68:	learn: 0.8110749	total: 23.6ms	remaining: 9.25ms
69:	learn: 0.8110749	total: 24ms	remaining: 8.9ms
70:	learn: 0.8110749	total: 24.3ms	remaining: 8.55ms
71:	learn: 0.8110749	total: 24.6ms	remaining: 8.21ms
72:	learn: 0.8110749	total: 24.9ms	remaining: 7.86ms
73:	learn: 0.8127036	total: 25.3ms	remaining: 7.52ms
74:	learn: 0.8127036	total: 25.6ms	remaining: 7.17ms
75:	learn: 0.8127036	total: 25.9ms	remaining: 6.83ms
76:	learn: 0.8127036	total: 26.3ms	remaining: 6.48ms
77:	learn: 0.8127036	total: 26.6ms	remaining: 6.13ms
78:	learn: 0.8127036	total: 26.9ms	remaining: 5.79ms
79:	learn: 0.8127036	total: 27.2ms	remaining: 5.44ms
80:	learn: 0.8127036	total: 27.5ms	remaining: 5.1ms
81:	learn: 0.8127036	total: 27.8ms	remaining: 4.75ms
82:	learn: 0.8143322	total: 28.2ms	remaining: 4.41ms
83:	learn: 0.8143322	total: 28.5ms	remaining: 4.07ms
84:	learn: 0.8143322	total: 28.8ms	remaining: 3.73ms
85:	learn: 0.8143322	total: 29.2ms	remaining: 3.4ms
86:	learn: 0.8143322	total: 29.6ms	remaining: 3.06ms
87:	learn: 0.8143322	total: 29.9ms	remaining: 2.71ms
88:	learn: 0.8143322	total: 30.2ms	remaining: 2.37ms
89:	learn: 0.8143322	total: 30.5ms	remaining: 2.03ms
90:	learn: 0.8143322	total: 30.8ms	remaining: 1.7ms
91:	learn: 0.8143322	total: 31.2ms	remaining: 1.35ms
92:	learn: 0.8143322	total: 31.6ms	remaining: 1.02ms
93:	learn: 0.8143322	total: 31.9ms	remaining: 678us
94:	learn: 0.8143322	total: 32.2ms	remaining: 339us
95:	learn: 0.8143322	total: 32.6ms	remaining: 0us

In [40]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [41]:
model = joblib.load('model.pkl')

In [42]:
model_columns = list(X.columns)

In [43]:
joblib.dump(model_columns, 'model_columns.pkl')

['model_columns.pkl']